/**
* THEME COLORS
*/

$green1: #034d3d;
$green2: #039979;
$green3: #023328;
$green4: #045947;
$green5: #069979;
$green6: #09d9ac;
$red1: #992700;
$red2: #4d1603;
$grey1: #eee;
$grey2: #8c8c8c;
$black: black;
$white: white;

/**
* TYPOGRAPHY
*/

$font: "Montserrat", sans-serif;
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;

$small: 0.8rem;
$normal: 1rem;
$large: 1.5rem;
$extraLarge: 2rem;

$left: left;
$right: right;
$center: center;

/**
* MISCELLANEOUS
*/

$shadow: 0 2px 2px $grey2;
$transition: all 0.3s ease;