@import 'variables';

* {
  box-sizing: border-box;
}
html {
  width: 100vw;
}
body {
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: $grey1;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  width: 100%;
}
